In [2]:
# Create an overview table that summarizes key metrics about each school, including:
# School Name
# School Type
# Total Students
# Total School Budget
# Per Student Budget
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)
# Top Performing Schools (By Passing Rate)

# Create a table that highlights the top 5 performing schools based on Overall Passing Rate. Include:
# School Name
# School Type
# Total Students
# Total School Budget
# Per Student Budget
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)
# Top Performing Schools (By Passing Rate)

# Create a table that highlights the bottom 5 performing schools based on Overall Passing Rate. Include all of the same metrics as above.
# Math Scores by Grade

# Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
# Reading Scores by Grade

# Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
# Scores by School Spending

# Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)
# Scores by School Size

# Repeat the above breakdown, but this time group schools based on a reasonable approximation of school size (Small, Medium, Large).
# Scores by School Type

# Repeat the above breakdown, but this time group schools based on school type (Charter vs. District).
# As final considerations:

# Your script must work for both data-sets given.
# You must use the Pandas Library and the Jupyter Notebook.
# You must submit a link to your Jupyter Notebook with the viewable Data Frames.
# You must include an exported markdown version of your Notebook called  README.md in your GitHub repository.
# You must include a written description of three observable trends based on the data.
# See Example Solution for a reference on the expected format.

In [3]:
import pandas as pd
import os 
import numpy as np

filesch = os.path.join('raw_data', 'schools_complete.csv')
filestu = os.path.join('raw_data', 'students_complete.csv')

schoolsdf = pd.read_csv(filesch)
studentsdf = pd.read_csv(filestu)

In [4]:
schoolsdf.columns

Index(['School ID', 'name', 'type', 'size', 'budget'], dtype='object')

In [5]:
studentsdf.columns

Index(['Student ID', 'name', 'gender', 'grade', 'school', 'reading_score',
       'math_score'],
      dtype='object')

In [6]:
# Create a high level snapshot (in table form) of the district's key metrics, including:
# Total Schools
# Total Students
# Total Budget

totalschools = schoolsdf["School ID"].count()
print("Total Schools:", totalschools)
totalstudents = studentsdf["Student ID"].count()
print("Total Students:", totalstudents)
totalbudget = schoolsdf['budget'].sum()
print("Total Budget:", '${:,.2f}'.format(totalbudget))

Total Schools: 15
Total Students: 39170
Total Budget: $24,649,428.00

In [9]:
# Average Math Score
# Average Reading Score
sumsch1 = studentsdf.loc[:,('school', 'reading_score', 'math_score',)]
sumsch1.head()
rmean = sumsch1['reading_score'].mean()
mmean = sumsch1['math_score'].mean()
print("Average Math Score:", '{:.2f}'.format(mmean))
print("Average Reading Score:", '{:.2f}'.format(rmean))
sumsch1.head()

Average Math Score: 78.99
Average Reading Score: 81.88

              school  reading_score  math_score
0  Huang High School             66          79
1  Huang High School             94          61
2  Huang High School             90          60
3  Huang High School             67          58
4  Huang High School             97          84

In [26]:
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)

#get table of only students who passed math
pass_m = sumsch1.loc[sumsch1['math_score'] >= 70,]
#count the number of students in that table
pass_m2 = pass_m['math_score'].count()
#get percentage
percentm = "{0:.0f}%".format((pass_m2/totalstudents)*100)
print("% Passing Math:", percentm)

#get table of only students who passed reading
pass_r = sumsch1.loc[sumsch1['reading_score'] >= 70,]
#count the number of students in that table
pass_r2 = pass_r['reading_score'].count()
#get percentage
percentr = "{0:.0f}%".format((pass_r2/totalstudents)*100)
print("% Passing Reading:", percentr)

overall =

% Passing Math: 75%
% Passing Reading: 86%

In [ ]:
# School Summary
# District Summary