In [2]:
# Create a table that highlights the top 5 performing schools based on Overall Passing Rate. Include:
# School Name
# School Type
# Total Students
# Total School Budget
# Per Student Budget
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)
# Top Performing Schools (By Passing Rate)

# Create a table that highlights the bottom 5 performing schools based on Overall Passing Rate. Include all of the same metrics as above.
# Math Scores by Grade

# Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
# Reading Scores by Grade

# Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
# Scores by School Spending

# Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)
# Scores by School Size

# Repeat the above breakdown, but this time group schools based on a reasonable approximation of school size (Small, Medium, Large).
# Scores by School Type

# Repeat the above breakdown, but this time group schools based on school type (Charter vs. District).
# As final considerations:

# Your script must work for both data-sets given.
# You must use the Pandas Library and the Jupyter Notebook.
# You must submit a link to your Jupyter Notebook with the viewable Data Frames.
# You must include an exported markdown version of your Notebook called  README.md in your GitHub repository.
# You must include a written description of three observable trends based on the data.
# See Example Solution for a reference on the expected format.

In [3]:
import pandas as pd
import os 
import numpy as np

filesch = os.path.join('raw_data', 'schools_complete.csv')
filestu = os.path.join('raw_data', 'students_complete.csv')

schoolsdf = pd.read_csv(filesch)
studentsdf = pd.read_csv(filestu)

In [4]:
schoolsdf.columns

Index(['School ID', 'name', 'type', 'size', 'budget'], dtype='object')

In [5]:
studentsdf.columns

Index(['Student ID', 'name', 'gender', 'grade', 'school', 'reading_score',
       'math_score'],
      dtype='object')

In [40]:
# Create a high level snapshot (in table form) of the district's key metrics, including:
# Total Schools, Total Students, Total Budget

totalschools = schoolsdf["School ID"].count()
totalstudents = studentsdf["Student ID"].count()
totalbudget = schoolsdf['budget'].sum()

# print("Total Schools:", totalschools)
# print("Total Students:", totalstudents)
# print("Total Budget:", '${:,.2f}'.format(totalbudget))
# Average Math Score, Average Reading Score
sumsch1 = studentsdf.loc[:,('school', 'reading_score', 'math_score',)]
rmean = sumsch1['reading_score'].mean()
mmean = sumsch1['math_score'].mean()
# print("Average Math Score:", '{:.2f}'.format(mmean))
# print("Average Reading Score:", '{:.2f}'.format(rmean))

# % Passing Math, % Passing Reading, Overall Passing Rate (Average of the above two)
#get table of only students who passed math
pass_m = sumsch1.loc[sumsch1['math_score'] >= 70,]
#count the number of students in that table
pass_m2 = pass_m['math_score'].count()
#get percentage
# percentm = "{0:.0f}%".format((pass_m2/totalstudents)*100)
# print("% Passing Math:", percentm)

#get table of only students who passed reading
pass_r = sumsch1.loc[sumsch1['reading_score'] >= 70,]
#count the number of students in that table
pass_r2 = pass_r['reading_score'].count()
#get percentage
percentr = "{0:.0f}%".format((pass_r2/totalstudents)*100)
# print("% Passing Reading:", percentr)

# overall = "{0:.0f}%".format((percentr + percentm)/2)
Dsum = pd.DataFrame({'Total Schools' : [totalschools], 'Total Students' : [totalstudents], 
                     'Total Budget': [totalbudget], 'Average Reading Score': [rmean], 
                     'Average Math Score': [mmean], '% Passing Reading': [percentr], 
                     '% Passing Math': [percentm], }, dtype=object)
Dsum.head()

,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Total Budget,Total Schools,Total Students
0,75%,86%,78.9854,81.8778,24649428,15,39170

In [ ]:
# you must still get the overall passing percent

In [43]:
# Create an overview table that summarizes key metrics about each school, including:
# School Name
# School Type
# Total Students
# Total School Budget
# Per Student Budget
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)
# Top Performing Schools (By Passing Rate)


# to group data by type :: by school (get aggregate)
# Using GroupBy in order to separate the data into fields according to "state" values
grouped_stu = studentsdf.groupby(['school'])
print(grouped_stu)
grouped_stu.mean().head(10)

#in order to do that make everything a numerica value

<pandas.core.groupby.DataFrameGroupBy object at 0x1101e1be0>

                       Student ID  reading_score  math_score
school
Bailey High School        20358.5      81.033963   77.048432
Cabrera High School       16941.5      83.975780   83.061895
Figueroa High School       4391.0      81.158020   76.711767
Ford High School          36165.0      80.746258   77.102592
Griffin High School       12995.5      83.816757   83.351499
Hernandez High School      9944.0      80.934412   77.289752
Holden High School        23060.0      83.814988   83.803279
Huang High School          1458.0      81.182722   76.629414
Johnson High School       32415.0      80.966394   77.072464
Pena High School          23754.5      84.044699   83.839917

In [ ]:
# School Summary
# Merge two dataframes using an inner join -- inner join will drop rows where there is not an exact match
merge = pd.merge(items, items2, on="customer_id", how="inner")
merge

renmae column title to match