In [276]:
# As final considerations:

# Your script must work for both data-sets given.
# You must use the Pandas Library and the Jupyter Notebook.
# You must submit a link to your Jupyter Notebook with the viewable Data Frames.
# You must include an exported markdown version of your Notebook called  README.md in your GitHub repository.
# You must include a written description of three observable trends based on the data.
# See Example Solution for a reference on the expected format.

In [277]:
import pandas as pd
import os 
import numpy as np

filesch = os.path.join('raw_data', 'schools_complete.csv')
filestu = os.path.join('raw_data', 'students_complete.csv')

schoolsdf = pd.read_csv(filesch)
studentsdf = pd.read_csv(filestu)

In [278]:
schoolsdf.head()

   School ID                   name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [279]:
studentsdf.columns

Index(['Student ID', 'name', 'gender', 'grade', 'school', 'reading_score',
       'math_score'],
      dtype='object')

In [280]:
# renmae column title to match
schoolsdf.rename(inplace=True,columns={"name":"school"})
schoolsdf.head()

   School ID                 school      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [281]:
# Merge two dataframes using an inner join -- inner join will drop rows where there is not an exact match
merge = pd.merge(studentsdf, schoolsdf, on="school", how="inner")
merge

,Student ID,name,gender,grade,school,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,14,Charter,1635,1043130
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [342]:
# Create a high level snapshot (in table form) of the district's key metrics, including:
# Total Schools, Total Students, Total Budget

totalschools = schoolsdf["school"].count()
totalstudents = merge["Student ID"].count()
totalbudget = schoolsdf['budget'].sum()

# Average Math Score, Average Reading Score
sumsch1 = studentsdf.loc[:,('school', 'reading_score', 'math_score',)]
rmean = round(merge['reading_score'].mean(), 2)
mmean = round(merge['math_score'].mean(), 2)

# % Passing Math, % Passing Reading, Overall Passing Rate (Average of the above two)
#get table of only students who passed math
pass_m = merge.loc[merge['math_score'] >= 70,]
pass_m2 = pass_m['math_score'].count()
#get percentage
percentm = ((pass_m2/totalstudents)*100)
# print("% Passing Math:", percentm)

#get table of only students who passed reading
pass_r = merge.loc[merge['reading_score'] >= 70,]
#count the number of students in that table
pass_r2 = pass_r['reading_score'].count()
#get percentage
percentr = ((pass_r2/totalstudents)*100)
# print("% Passing Reading:", percentr)

#get percentage for overall passing
overall = ((percentr + percentm)/2)

#format passing as percents

overall = "{0:.0f}%".format(overall)
percentr = "{0:.0f}%".format(percentr)
percentm = "{0:.0f}%".format(percentm)
totalbudget = '${:.2f}'.format(totalbudget)

Dsum = pd.DataFrame({'Total Schools' : [totalschools], 'Total Students' : [totalstudents], 
                     'Total Budget': [totalbudget], 'Average Reading Score': [rmean], 
                     'Average Math Score': [mmean], '% Passing Reading': [percentr], 
                     '% Passing Math': [percentm], '% Passing Overall': [overall]}, dtype=object)
Dsum

,% Passing Math,% Passing Overall,% Passing Reading,Average Math Score,Average Reading Score,Total Budget,Total Schools,Total Students
0,75%,80%,86%,78.99,81.88,$24649428.00,15,39170

In [488]:
merge.head()

,Student ID,name,gender,grade,school,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [454]:
# Create an overview table that summarizes key metrics about each school, including:
# School Name, School Type, Total Students, Total School Budget, Per Student Budget, 
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)

schoolname = merge['school'].unique()
typesum = pd.DataFrame(grouped['type'].describe())
typesum = typesum.drop(columns=['count', 'unique', 'freq'])
totstu_byschool = grouped['name'].count()
budget_school = grouped.mean()["budget"]
budget_perstudent = budget_school/totstu_byschool

#get passing per type of test
passingmath = merge[merge["math_score"] > 70]
passingreading = merge[merge["reading_score"] > 70]

#group based on school
groupedmath = passingmath.groupby(['school'])
groupedread = passingreading.groupby(['school'])

#calculate percent passing per test by schoopl
perpass_m = groupedmath.count()["math_score"] / totstu_byschool * 100
perpass_r = groupedread.count()["reading_score"] / totstu_byschool * 100

#overall percent passing
overall_summary = ((perpass_m + perpass_r)/2)


summary = pd.DataFrame({"School":schoolname, "Type": typesum["top"], "Total Students": totstu_byschool, 
                        "Budget":budget_school, "Budget Per Student": budget_perstudent,
                        "Average Reading Score": rmean_summary, "Average Math Score": mmean_summary, 
                        "% Passing Reading":perpass_r, "% Passing Math": perpass_m, 
                        "Overall Passing": overall_summary
                       })

summary

,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Budget,Budget Per Student,Overall Passing,School,Total Students,Type
school,,,,,,,,,,
Bailey High School,64.630225,79.300643,77.048432,81.033963,3124928.0,628.0,71.965434,Huang High School,4976,District
Cabrera High School,89.558665,93.864370,83.061895,83.975780,1081356.0,582.0,91.711518,Figueroa High School,1858,Charter
Figueroa High School,63.750424,78.433367,76.711767,81.158020,1884411.0,639.0,71.091896,Shelton High School,2949,District
Ford High School,65.753925,77.510040,77.102592,80.746258,1763916.0,644.0,71.631982,Hernandez High School,2739,District
Griffin High School,89.713896,93.392371,83.351499,83.816757,917500.0,625.0,91.553134,Griffin High School,1468,Charter
Hernandez High School,64.746494,78.187702,77.289752,80.934412,3022020.0,652.0,71.467098,Wilson High School,4635,District
Holden High School,90.632319,92.740047,83.803279,83.814988,248087.0,581.0,91.686183,Cabrera High School,427,Charter
Huang High School,63.318478,78.813850,76.629414,81.182722,1910635.0,655.0,71.066164,Bailey High School,2917,District
Johnson High School,63.852132,78.281874,77.072464,80.966394,3094650.0,650.0,71.067003,Holden High School,4761,District
Pena High School,91.683992,92.203742,83.839917,84.044699,585858.0,609.0,91.943867,Pena High School,962,Charter
Rodriguez High School,64.066017,77.744436,76.842711,80.744686,2547363.0,637.0,70.905226,Wright High School,3999,District
Shelton High School,89.892107,92.617831,83.359455,83.725724,1056600.0,600.0,91.254969,Rodriguez High School,1761,Charter
Thomas High School,90.214067,92.905199,83.418349,83.848930,1043130.0,638.0,91.559633,Johnson High School,1635,Charter
Wilson High School,90.932983,93.254490,83.274201,83.989488,1319574.0,578.0,92.093736,Ford High School,2283,Charter
Wright High School,90.277778,93.444444,83.682222,83.955000,1049400.0,583.0,91.861111,Thomas High School,1800,Charter

In [453]:
# Create a table that highlights the top 5 performing schools based on Overall Passing Rate. Include:
# School Name
# School Type
# Total Students
# Total School Budget
# Per Student Budget
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)
# Top Performing Schools (By Passing Rate)top_perform = summary.sort_values(["Overall Passing"], ascending=False)
top_perform.head()

,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Budget,Budget Per Studnet,Overall Passing,School,Total Students,Type
school,,,,,,,,,,
Wilson High School,90.932983,93.254490,83.274201,83.989488,1319574.0,578.0,92.093736,Ford High School,2283,Charter
Pena High School,91.683992,92.203742,83.839917,84.044699,585858.0,609.0,91.943867,Pena High School,962,Charter
Wright High School,90.277778,93.444444,83.682222,83.955000,1049400.0,583.0,91.861111,Thomas High School,1800,Charter
Cabrera High School,89.558665,93.864370,83.061895,83.975780,1081356.0,582.0,91.711518,Figueroa High School,1858,Charter
Holden High School,90.632319,92.740047,83.803279,83.814988,248087.0,581.0,91.686183,Cabrera High School,427,Charter

In [422]:
# Create a table that highlights the bottom 5 performing schools based on Overall Passing Rate. Include all of the same metrics as above.
top_perform.tail()

,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Budget,Budget Per Studnet,Overall Passing,School,Total Students,Type
school,,,,,,,,,,
Hernandez High School,64.746494,78.187702,77.289752,80.934412,3022020.0,652.0,71.467098,Wilson High School,4635,District
Figueroa High School,63.750424,78.433367,76.711767,81.158020,1884411.0,639.0,71.091896,Shelton High School,2949,District
Johnson High School,63.852132,78.281874,77.072464,80.966394,3094650.0,650.0,71.067003,Holden High School,4761,District
Huang High School,63.318478,78.813850,76.629414,81.182722,1910635.0,655.0,71.066164,Bailey High School,2917,District
Rodriguez High School,64.066017,77.744436,76.842711,80.744686,2547363.0,637.0,70.905226,Wright High School,3999,District

In [489]:
# Math Scores by Grade
# Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.


# filter data out for 9th, 10th, 11th, 12th from merged_dataframe
merge.sort_values("grade", ascending=True)
grades =merge.sort_values("grade")
ninth = merge[merge["grade"]=="9th"]
tenth = merge[merge["grade"]=="10th"]
eleventh = merge[merge["grade"]=="11th"]
twelfth = merge[merge["grade"]=="12th"]
grades.head()

,Student ID,name,gender,grade,school,reading_score,math_score,School ID,type,size,budget
15978,15978,Victoria Hayden,F,10th,Wilson High School,85,88,5,Charter,2283,1319574
13223,13223,Melissa Thomas,F,10th,Griffin High School,81,86,4,Charter,1468,917500
7563,7563,David Ayala,M,10th,Shelton High School,72,98,2,Charter,1761,1056600
28170,28170,Cameron Perez,M,10th,Rodriguez High School,90,99,11,District,3999,2547363
7565,7565,Daniel Stanley,M,10th,Shelton High School,80,87,2,Charter,1761,1056600

In [490]:
#math averages by grade
ninthave = ninth.groupby(["school"]).mean()["math_score"]
tenthave = tenth.groupby(["school"]).mean()["math_score"]
eleventhave = eleventh.groupby(['school']).mean()["math_score"]
twelfthave = twelfth.groupby(['school']).mean()["math_score"]

mathbygrade = pd.DataFrame({"9th Grade Average":ninthave, "10th Grade Average": tenthave, 
                            "11th Grade Average": eleventhave, "12th Grade Average":twelfthave, })
mathbygrade

,10th Grade Average,11th Grade Average,12th Grade Average,9th Grade Average
school,,,,
Bailey High School,76.996772,77.515588,76.492218,77.083676
Cabrera High School,83.154506,82.765560,83.277487,83.094697
Figueroa High School,76.539974,76.884344,77.151369,76.403037
Ford High School,77.672316,76.918058,76.179963,77.361345
Griffin High School,84.229064,83.842105,83.356164,82.044010
Hernandez High School,77.337408,77.136029,77.186567,77.438495
Holden High School,83.429825,85.000000,82.855422,83.787402
Huang High School,75.908735,76.446602,77.225641,77.027251
Johnson High School,76.691117,77.491653,76.863248,77.187857
Pena High School,83.372000,84.328125,84.121547,83.625455
Rodriguez High School,76.612500,76.395626,77.690748,76.859966
Shelton High School,82.917411,83.383495,83.778976,83.420755
Thomas High School,83.087886,83.498795,83.497041,83.590022
Wilson High School,83.724422,83.195326,83.035794,83.085578
Wright High School,84.010288,83.836782,83.644986,83.264706

In [491]:
# Reading Scores by Grade
# Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

#reading averages by grade
ninthave = ninth.groupby(["school"]).mean()["reading_score"]
tenthave = tenth.groupby(["school"]).mean()["reading_score"]
eleventhave = eleventh.groupby(['school']).mean()["reading_score"]
twelfthave = twelfth.groupby(['school']).mean()["reading_score"]

readbygrade = pd.DataFrame({"9th Grade Average":ninthave, "10th Grade Average": tenthave, 
                            "11th Grade Average": eleventhave, "12th Grade Average":twelfthave, })
readbygrade

,10th Grade Average,11th Grade Average,12th Grade Average,9th Grade Average
school,,,,
Bailey High School,80.907183,80.945643,80.912451,81.303155
Cabrera High School,84.253219,83.788382,84.287958,83.676136
Figueroa High School,81.408912,80.640339,81.384863,81.198598
Ford High School,81.262712,80.403642,80.662338,80.632653
Griffin High School,83.706897,84.288089,84.013699,83.369193
Hernandez High School,80.660147,81.396140,80.857143,80.866860
Holden High School,83.324561,83.815534,84.698795,83.677165
Huang High School,81.512386,81.417476,80.305983,81.290284
Johnson High School,80.773431,80.616027,81.227564,81.260714
Pena High School,83.612000,84.335938,84.591160,83.807273
Rodriguez High School,80.629808,80.864811,80.376426,80.993127
Shelton High School,83.441964,84.373786,82.781671,84.122642
Thomas High School,84.254157,83.585542,83.831361,83.728850
Wilson High School,84.021452,83.764608,84.317673,83.939778
Wright High School,83.812757,84.156322,84.073171,83.833333

In [492]:
# Scores by School Spending

# Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)
# Scores by School Size

# Scores by School Spending
bins = [0, 585, 620, 645, 675]
groupnames = ["<$585", "$585-619", "$620-644", "$645-675"]

#bin budgets
summary["Range per Student"] = pd.cut(summary["Budget Per Student"], bins= bins, labels=groupnames)


spend_mathpass = summary.groupby(["Range per Student"]).mean()["% Passing Math"]
spend_readpass = summary.groupby(["Range per Student"]).mean()["% Passing Reading"]
spend_avemath = summary.groupby(["Range per Student"]).mean()["Average Reading Score"]
spend_averead = summary.groupby(["Range per Student"]).mean()["Average Math Score"]
spend_overall = summary.groupby(["Range per Student"]).mean()["Overall Passing"]

perspend = pd.DataFrame({"Average Math": spend_avemath, "Average Read": spend_averead,
                         "% Pass Math": spend_mathpass, "% Pass Read":spend_readpass, 
                        "Overall": spend_overall })


# Repeat the above breakdown, but this time group schools based on school type (Charter vs. District).
perspend

,% Pass Math,% Pass Read,Average Math,Average Read,Overall
Range per Student,,,,,
<$585,90.350436,93.325838,83.933814,83.455399,91.838137
$585-619,90.788049,92.410786,83.885211,83.599686,91.599418
$620-644,73.021426,83.214343,81.891436,79.079225,78.117884
$645-675,63.972368,78.427809,81.027843,76.997210,71.200088

In [493]:
# Repeat the above breakdown, but this time group schools based on a reasonable approximation of school size (Small, Medium, Large).

# Scores by School Size
bins = [0, 750, 1500, 5000]
groupnames = ["Small", "Medium", "Large"]

#bin budgets
summary["School Size"] = pd.cut(summary["Total Students"], bins= bins, labels=groupnames)


size_mathpass = summary.groupby(["School Size"]).mean()["% Passing Math"]
size_readpass = summary.groupby(["School Size"]).mean()["% Passing Reading"]
size_avemath = summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_averead = summary.groupby(["School Size"]).mean()["Average Math Score"]
size_overall = summary.groupby(["School Size"]).mean()["Overall Passing"]

persize = pd.DataFrame({"Average Math": size_avemath, "Average Read": size_averead,
                         "% Pass Math": size_mathpass, "% Pass Read":size_readpass, 
                        "Overall": size_overall })

persize

             % Pass Math  % Pass Read  Average Math  Average Read    Overall
School Size
Small          90.632319    92.740047     83.814988     83.803279  91.686183
Medium         90.698944    92.798056     83.930728     83.595708  91.748500
Large          75.082775    84.529854     82.188448     79.624438  79.806314

In [517]:
# Repeat the above breakdown, but this time group schools based on school type (Charter vs. District).
# Scores by School Type

type_groups = merge.groupby('type')
type_count = type_groups['Student ID'].count()

type_passingM = passingmath.groupby('type')['Student ID'].count()/ type_count * 100
type_passingR = passingreading.groupby('type')['Student ID'].count()/ type_count * 100

type_avemath = merge.groupby(["type"]).mean()["reading_score"]
type_averead = merge.groupby(["type"]).mean()["math_score"]
type_overall = ((type_passingM+type_passingR)/2)

perdist = pd.DataFrame({"Average Math": type_avemath, "Average Read": type_averead,
                         "% Pass Math": type_passingM, "% Pass Read":type_passingR, 
                        "Overall": type_overall})

perdist

          % Pass Math  % Pass Read  Average Math  Average Read    Overall
type
Charter     90.282106    93.152370     83.902821     83.406183  91.717238
District    64.305308    78.369662     80.962485     76.987026  71.337485